mat-card {
    margin-bottom: 1em;
    font-size: 30px;

    button{
        float: right;
        flood-opacity: 0%;
        align-self: flex-end;
        margin-right: 50px;
    }
    .post-title{
        font-weight: bold;
        margin-left: 15px;
    }
    .post-meta{
        margin-top: 3px;
        font-size: 15px;
        font-style: italic;
        margin-left: 15px;
    }
    .post-body{
        margin-top: 10px;
        margin-left: 50px;
        margin-bottom: 5px;
        font-size: 20px;
    }
}