<p>Teach For India is a nonprofit organization that aims to address educational inequity in India by recruiting and training young leaders to serve as teachers in low-income schools. The organization was founded in 2008 and is part of the larger Teach For All network, which operates in several countries around the world.</p>

<p>
    Teach For India's mission is to bridge the educational gap and create a network of leaders who are committed to advocating for educational equity and driving systemic change in India's education system. Through their work, they aim to empower students from disadvantaged backgrounds and improve their life prospects by providing them with a quality education.
</p>
